#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
	combos {
		compatible = "zmk,combos";

		zmk_studio_combo {
			timeout-ms = <50>;
			key-positions = <0 1>;
			bindings = <&studio_unlock>;
		};

		bt_layer_combo {
			timeout-ms = <50>;
			key-positions = <36 46>;
			bindings = <&sl 4>;
		};
	};

	keymap {
		compatible = "zmk,keymap";
		
		/* test { */
		/* 	bindings = <&bt BT_SEL 0 &kp B &kp L &trans &trans &trans &trans &trans &trans &trans &trans &trans */
		/* 	&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans  */
		/* 	&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans */
		/* 	&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &kp Q>; */
		/* }; */

		qwerty {
			bindings = <
				&kp esc &kp q &kp w &kp e &kp r &kp t &kp y &kp u &kp i &kp o &kp p &kp bspc
				&kp tab &kp a &kp s &kp d &kp f &kp g &kp h &kp j &kp k &kp l  &kp semi &kp enter
				&kp lshift &kp z &kp x &kp c &kp v &kp b &kp n &kp m &kp comma &kp dot &kp qmark &kp rshift
				&kp lctrl &kp lgui &kp lalt &mo 3 &mo 2 &kp space &mo 2 &mo 3 &kp ralt &to 4 &kp rctrl
			>;
		};
		symbols {
			bindings = <
				&to 0 &kp grave &kp at &kp hash &kp dollar &kp prcnt &kp caret &kp lbrc &kp rbrc &kp star &kp qmark &trans
				&trans &kp slash &kp excl &kp minus &kp equal &kp lt &kp gt &kp lpar &kp rpar &kp dot  &kp bslh &trans
				&trans &kp tilde &kp plus &kp under &kp semi &kp pipe &kp amps &kp lbkt &kp rbkt &kp comma &kp sqt &trans
				&trans &trans &trans &trans &trans &kp space &trans &trans &trans &trans &trans
			>;
		};
		functions {
			bindings = <
				&to 0 &trans &kp up &trans &trans &trans &kp C_BRI_DN &kp C_BRI_UP &kp K_VOL_DN &kp K_VOL_UP &kp K_MUTE &trans
				&trans &kp left &kp down &kp right &trans &trans &kp left &kp down &kp up &kp right &trans &trans
				&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
				&trans &trans &trans &trans &trans &kp space &trans &trans &trans &trans &sl 4 &trans
			>;
		};
		numbers {
			bindings = <
				&to 0 &kp n1 &kp n2 &kp n3 &kp n4 &kp n5 &kp n6 &kp n7 &kp n8 &kp n9 &kp n0 &trans
				&trans &kp f1 &kp f2 &kp f3 &kp f4 &kp f5 &kp f6 &kp f7 &kp f8 &kp f9 &kp f10 &trans
				&trans &kp f11 &kp f12 &trans &trans &trans &trans &trans &trans &trans &trans &trans
				&trans &trans &trans &trans &trans &kp space &trans &trans &trans &trans &trans &trans
			>;
		};
		settings {
			bindings = <
				&to 0 &bt bt_sel 0 &bt bt_sel 1 &bt bt_sel 2 &bt bt_sel 3 &bt bt_sel 4 &none &none &none &none &bt bt_prv &bt bt_clr
				&out out_tog &bt bt_disc 0 &bt bt_disc 1 &bt bt_disc 2 &bt bt_disc 3 &bt bt_disc 4 &none &none &none &none &none &studio_unlock
				&none &none &bootloader &none &none &none &bt bt_nxt &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none
			>;
		};
		locked {
			status = "reserved";
		};
	};
};
