#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
	combos {
		compatible = "zkm,combos";

		zmk_studio_combo {
			timeout-ms = <50>;
			key-positions = <0 11>;
			bindings = <&studio_unlock>;
		};
	};

	keymap {
		compatible = "zmk,keymap";

		qwerty {
			status = "reserved";
		};
		dersium {
			status = "reserved";
		};
		symbols {
			status = "reserved";
		};
		functions {
			status = "reserved";
		};
		numbers {
			status = "reserved";
		};
		settings {
			status = "reserved";
		};
	};
};
